{% extends 'learning_logs/base.html' %}
{% block header %}
<h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}
<p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">添一笔</a>
</p>
<div class="row">
    {% for entry in entries %}
    <div class="col-md-6">
        <div class="card text-dark bg-light mb-3">
            <div class="card-body">
                <h3 class="card-title">{{ entry.date_added|date:'M d, Y H:i' }}</h3>
                <p class="card-text">{{ entry.text|linebreaks }}</p>
                <a class="btn btn-sm btn-outline-dark" href="{% url 'learning_logs:edit_entry' entry.id %}">改一点</a>
            </div>
        </div>
    </div>
    {% empty %}

    {% endfor %}
</div>

{% endblock content %}